* {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:skyblue;
}

.centerText {
  text-align: center;
  color:blueviolet;
}

iframe {
  margin:auto;
  display:block;
}

footer {
  padding-top:50px;
  text-align:center;
  font-size:13px;
}

#spacing {
  padding:60px;
}

.game1 {
  padding:10px;
  padding-bottom: 25px;
}

.game2 {
  padding:10px;
  padding-top:25px;
}